<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="false">
  <app-task
    [title]="title"
    [subtitle]="'Finde den korrekten QR-Code und scanne ihn mit dem Knopf unten'"
  ></app-task>
  <app-task-icon [iconSrc]="'assets/icon/qr-code.png'"></app-task-icon>
</ion-content>

<ion-footer class="footer">
  @if (taskComplete) {
  <ion-button (click)="completeTask()">Weiter</ion-button>
  } @else {
  <ion-button fill="outline" (click)="scanQrCode()">Scan QR-Code</ion-button>
  <ion-button (click)="skipTask()">Überspringen</ion-button>
  }
  <ion-button (click)="cancelGame()" fill="clear">Abbrechen</ion-button>
</ion-footer>
