<ion-card class="card">
  <img alt="nature image" src="../../../assets/nature.jpeg" />
  <ion-card-header>
    <ion-card-subtitle class="center-text sub-title">
      Starte deine persönliche Schnitzeljagd!
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="ion-text-center card-text">
    Trage deinen Namen ein, löse spannende Aufgaben mit den Funktionen deines
    Geräts und sammle Schnitzel. Wenn du zu lange brauchst, gibt es Kartoffeln
    als Strafe. Meistere alle vier Aufgaben und sichere dir einen Platz im
    Online-Leaderboard. Stelle den Ton an und Viel Erfolg!

    <div class="button">
      <ion-button (click)="startGame()" expand="block">Beginnen</ion-button>
    </div>
  </ion-card-content>
</ion-card>
