<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Aufgabe 4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-task
    [title]="'Aufgabe 4'"
    [subtitle]="'Lorem Ipsum dolor sit amet'"
  ></app-task>
</ion-content>

<ion-footer class="footer">
  @if (isPhoneCharging) {
  <ion-button [routerLink]="['/result']">Weiter</ion-button>
  } @else {
  <ion-button [routerLink]="['/result']">Überspringen</ion-button>
  }
  <ion-button (click)="cancelGame()" fill="clear">Abbrechen</ion-button>
</ion-footer>
