<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="false">
  <app-task
    [title]="title"
    [subtitle]="'One more time! Schliess dein Handy ans Strom an!'"
  ></app-task>
</ion-content>

<ion-footer class="footer">
  @if (isPhoneCharging) {
  <ion-button (click)="completeTask()">Weiter</ion-button>
  } @else {
  <ion-button (click)="skipTask()">Überspringen</ion-button>
  }
  <ion-button (click)="cancelGame()" fill="clear">Abbrechen</ion-button>
</ion-footer>
