<ion-card class="card">
  <ion-card-header>
    <ion-card-subtitle class="center-text sub-title">
      Starte deine persönliche Schnitzeljagd!
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="center-text card-content">
    Trage deinen Namen ein, löse spannende Aufgaben mit den Funktionen deines Geräts und sammle Schnitzel. Wenn du zu
    lange brauchst, gibt es Kartoffeln als Strafe. Meistere alle vier Aufgaben und sichere dir einen Platz im
    Online-Leaderboard. Viel Erfolg!

    <div class="button">
      <ion-button>
        Beginnen
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>
