<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="false">
  <app-task
    [title]="title"
    [subtitle]="'Gehe zur Migros neben dem Bahnhof. Vergiss jedoch nicht das Handy mitzunehmen!'"
  ></app-task>
  <app-map class="map"></app-map>
</ion-content>

<ion-footer class="footer">
  <ion-label class="ion-text-center ion-margin-bottom">
    Entfernung: {{ distance() }} Meter
  </ion-label>
  @if (taskComplete) {
  <ion-button (click)="completeTask()">Weiter</ion-button>
  } @else {
  <ion-button (click)="skipTask()">Überspringen</ion-button>
  }
  <ion-button (click)="cancelGame()" fill="clear">Abbrechen</ion-button>
</ion-footer>
