<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-progress-bar [value]="progress() / 100"></ion-progress-bar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-task
    [title]="title"
    [subtitle]="'Lorem Ipsum dolor sit amet'"
  ></app-task>
</ion-content>

<ion-footer class="footer">
  <ion-button (click)="completeTask()">Weiter</ion-button>
  <ion-button (click)="cancelGame()" fill="clear">Abbrechen</ion-button>
</ion-footer>
