<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Aufgabe 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-task
    [title]="'Aufgabe 2'"
    [subtitle]="'Lorem Ipsum dolor sit amet'"
  ></app-task>
</ion-content>

<ion-footer class="footer">
  <ion-button [routerLink]="['/tabs/start']">Weiter</ion-button>
  <ion-button id="quit-game" fill="clear">Abbrechen</ion-button>
  <ion-alert
    trigger="quit-game"
    header="Wollen Sie das Spiel wirklich beenden?"
    [buttons]="alertButtons"
    (didDismiss)="leaveGame($event)"
  ></ion-alert>
</ion-footer>
